<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prashant Panday</title>
    
    <link rel="icon" sizes="16x16" href="./Assets/getlogo.png">
    <link rel="icon" sizes="32x32" href="./Assets/getlogo.png">
    <link rel="icon" sizes="48x48" href="./Assets/getlogo.png">
    <link rel="icon" sizes="96x96" href="./Assets/getlogo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

        <style>
            .navbar.bg-body-tertiary-transparent {
    background-color: transparent !important;
    transition: background-color 0.3s ease !important;
}

/* Background color when scrolled */
.navbar.bg-body-tertiary-colored {
    background-color: #ebebeb !important;
    
}

.addfont{
    color:#000;
}


.custom-font {
    font-family: 'Arial', sans-serif;
    /* Change this to your desired font */
    font-size: 24px;
    /* Change this to your desired font size */
    font-weight: bold;
    /* Optional: change the font weight if needed */
    color: #000000;
    /* Default color for the rest of the text */
}

.navbar.custom-font.addfont{
    color:black !important;
}

.nav-item {
    margin-right: 10px;
    
    /* Base value */
}
.navbar.bg-body-tertiary-transparent .nav-link {
    color: rgb(0, 0, 0) !important;
}

.navbar.bg-body-tertiary-colored .nav-link {
    color: black !important; /* Or any color you want when scrolled */
}


.custom-font.pro {
    color: #ff001e !important;
    /* Green color for "Pro" */
}

.custom-font.health {
    color: #1bb0eb !important;
    /* Red color for "Health" */
}

/* General styles for the navbar items */
.navbar-nav .nav-item .nav-link,
.dropdown-menu .dropdown-item {
    padding: 5px 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.1s ease;
}

/* Initial styling for the Home item */
.navbar-nav .nav-item .nav-link.active {
    border: 1px solid #263590;
    /* Change to your preferred color */
    background-color: #019dda;
    /* Change to your preferred color */
    color: #000000;
    /* Change to your preferred color */
}

/* Styling on hover */
.navbar-nav .nav-item .nav-link:hover,
.dropdown-menu .dropdown-item:hover {
    border: 1px solid #263590;
    /* Change to your preferred color */
    background-color: #92daf7;
    /* Change to your preferred color */
    color: #000000;
    /* Change to your preferred color */
}

/* Styling when selected */
.navbar-nav .nav-item .nav-link.selected,
.dropdown-menu .dropdown-item.selected {
    border: 1px solid #263590;
    /* Change to your preferred color */
    background-color: #85ddff;
    /* Change to your preferred color */
    color: #000000;
    /* Change to your preferred color */
}

/* Enable hover functionality for dropdown */
.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-nav .dropdown .dropdown-toggle:after {
    content: none;
}

.glow-on-hover {
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    color:
        #fff;
    background:
        #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(30deg, #263590, #019dda, #269080);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 100%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color:
        #000
}

.glow-on-hover:active:after {
    background:
        transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:
        #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}
/* 
@media (max-width: 992px) {
.navbar-collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out; 
}

.navbar-collapse.show {
    max-height: 600px; 
    animation-name: slideDown;
    animation-duration: 0.5s;
}

.navbar-collapse.hide {
    max-height: 0px;
    animation-name: slideUp;
    animation-duration: 0.5s;
}

}

@keyframes slideUp {
    from {
        max-height: 600px; 
    }
    to {
        max-height: 0px; 
    }
}

@keyframes slideDown {
    from {
        max-height: 0px; 
    }
    to {
        max-height: 600px; 
    }
} */
/* 
 .navbar-collapse {
    overflow: hidden;
    transition: max-height 0.5s ease;
}  */
@media (max-width: 992px) {
.navbar-collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
}

.navbar-collapse.show {
    max-height: 600px;
    animation-name: slideDown;
    animation-duration: 0.5s;
}

.navbar-collapse.hide {
    max-height: 0px;
    animation-name: slideUp;
    animation-duration: 0.5s;
}

@keyframes slideUp {
    from {
        max-height: 600px;
    }
    to {
        max-height: 0px;
    }
}

@keyframes slideDown {
    from {
        max-height: 0px;
    }
    to {
        max-height: 600px;
    }
}
}


.offer {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    color: black;
    height: 10vh;
    align-items:flex-start;
    justify-content: center;
    font-size: 3vw;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 80vw;
}

.offer hr {
    width: 80vw;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 1vh;
}



@media (max-width: 1200px) {

.promed{
    font-size: 10vw;
}

.offer{
    font-size: 5vw !important;
}

}

@media (max-width: 800px) {
.promed{
    font-size: 12vw;
}
#tagline{
    font-size:3vw !important;
}

.offer{
    font-size: 5vw !important;
}
.card .card-title {
    font-size: 5vw;
}

}

@media (max-width: 400px) {

.promed{
    font-size: 11vw;
}

#tagline{
    font-size:3vw !important;
}

.offer{
    font-size: 20px !important;
}
.card .card-title {
    font-size: 7vw;
}

}




</style>

   
</head>
<body>

    <nav id="mainNavbar" class="navbar navbar-expand-lg navbar-light bg-body-tertiary ">
        <div class="container-fluid">
            <img src="./Assets/getlogo.png" style="width:5vh; height:5vh;">
            <a class="navbar-brand custom-font" href="#">
                <span class="custom-font pro">Pro</span><span class="custom-font">Med </span><span
                    class="custom-font health">Health</span><span class="custom-font">Care</span>
            </a>
            <button id="navbarToggler" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="./index.ejs">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="./aboutus.ejs">About Us</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="./services.ejs">Services</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Career</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./">Contact Us</a>
                    </li>
                </ul>
                <form class="d-flex ms-auto" role="search">
                    <button class="glow-on-hover">
                        <div class="login" style="font-weight: 500;">Login</div>
                    </button>
                </form>
            </div>
        </div>
    </nav>

   




<div class="container">
    
    <div class="offer">
        Mr. Prashant Pandey
        <hr>
    </div>
    <div class="row featurette sanjay">
        <div class="row">
            <div class="col-md-7  my-4 d-flex align-items-center justify-content-center ">
                <p class="lead text-center" style="text-align: justify !important; font-family: Arial, Helvetica, sans-serif;font-size:medium;">

                    Mr. Prashant Pandey is a Management Consultant with hands-on Business Transformation
                    experience. In his previous role, Prashant worked with Tata Consultancy Services, Wipro,
                    HSBC in healthcare domain delivering compliance, transformation and cost optimisation.<br>
                    He has been working with large organisations in UK, USA, Germany, Switzerland & India in
                    Healthcare, Finance and Utilities domains. He has worked with major FTSE 100 clients driving
                    Organisational Capability Improvements, IT Strategy Planning and Delivery, Business
                    Transformation and Optimisation. He has been closely working with CxOs and Board
                    stakeholders enabling value maximization on industry standards & frameworks such as HIPA,
                    NABH, ISO, ITIL, PRINCE2, Agile, SEI CMMi1.3 & Six-Sigma.
            </div>
            <div class="col-md-5  d-flex justify-content-center">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid meet" focusable="false">
                    <title>Placeholder</title>
                    <!-- Replace 'image-url.jpg' with the path to your image file -->
                    <image href="./Assets/about/prashant.png" width="100%" height="100%"
                        preserveAspectRatio="xMidYMid meet" />
                    <text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
                </svg>

            </div>
        </div>

    </div>

    <div class="offer">
        
        <hr>
    </div>
    <div style="width: 80vw; margin: 0;">
        <div class="d-flex flex-wrap justify-content-between align-items-center" style="margin-bottom: 20px !important;">
            <div class="col-md-4 d-flex align-items-center">
                <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" height="24" width="24" alt="Email" class="me-2">
                <a href="mailto:example@example.com" class="text-body-secondary">amitesh.raj.05@gmail.com</a>
            </div>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="me-3"><a class="text-body-secondary" href="#"><img
                        src="https://cdn-icons-png.flaticon.com/512/733/733579.png" height="24" width="24" alt="Twitter"></a></li>
                <li class="me-3"><a class="text-body-secondary" href="#"><img
                        src="https://cdn-icons-png.flaticon.com/512/733/733558.png" height="24" width="24" alt="Instagram"></a></li>
                <li class="me-3"><a class="text-body-secondary" href="#"><img
                        src="https://cdn-icons-png.flaticon.com/512/733/733547.png" height="24" width="24" alt="Facebook"></a></li>
            </ul>
        </div>
    </div>
    
    


    

    <!-- /END THE FEATURETTES -->

</div>


</div>

<div class="footer" style="background-color:#ebebeb;margin: 0;padding: 0;">
    <div class="container">
        <div class="container">
            <footer class="py-5">
              <div class="row">
                <div class="col-6 col-md-2 mb-3">
                  <h5>Services</h5>
                  <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Planing, Execution & Design</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Human Resources & Planning</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Financial Advisory</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Management & Operation</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Healthcare IT Solution</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pr & Branding</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Medical Equipment Planning</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Mergers & Acquisitions</a></li>
                  </ul>
                </div>
          
                <div class="col-6 col-md-2 mb-3">
                  <h5>Quick Links</h5>
                  <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About Us</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Project</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Services</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Career</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact Us</a></li>
                  </ul>
                </div>
          
                <div class="col-6 col-md-2 mb-3">
                  <h5>Get in Touch</h5>
                  <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">abc@gmail.com</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">+91-9334116282</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">6022-123456</a></li>
                    
                  </ul>
                </div>
          
                <div class="col-md-5 offset-md-1 mb-3">
                  <form>
                    <h5>Subscribe to our newsletter</h5>
                    <p>Monthly digest of what's new and exciting from us.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                      <label for="newsletter1" class="visually-hidden">Email address</label>
                      <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                      <button class="btn btn-primary" type="button">Subscribe</button>
                    </div>
                  </form>
                </div>
              </div>
          
              <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p>© 2022 Company, Inc. All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                  <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
                  <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
                  <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
                </ul>
              </div>
            </footer>
          </div>
    </div>
</div>


    
    
</body>
<script>




function toggleDropdown(button) {
    var dropdownBar = button.parentElement;
    var dropdownContent = dropdownBar.querySelector('.dropdown-content');
    if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
    } else {
        dropdownContent.style.display = "block";
    }
}

document.addEventListener("DOMContentLoaded", function() {
    var toggler = document.getElementById('navbarToggler');
    var collapse = document.querySelector('.navbar-collapse');
    var isCollapsed = true;

    // Function to handle clicks on the toggler button
    function handleToggleClick() {
        if (isCollapsed) {
            expandNavbar();
        } else {
            collapseNavbar();
        }
    }

    // Function to expand the navbar collapse
    function expandNavbar() {
        collapse.classList.remove('hide');
        collapse.classList.add('show');
        isCollapsed = false;
    }

    // Function to collapse the navbar collapse
    function collapseNavbar() {
        collapse.classList.remove('show');
        collapse.classList.add('hide');
        isCollapsed = true;
    }

    // Event listener for toggler button click
    toggler.addEventListener('click', handleToggleClick);

    // Function to close navbar collapse when clicking outside
    function handleClickOutside(event) {
        if (!collapse.contains(event.target) && !toggler.contains(event.target) && !isCollapsed) {
            collapseNavbar();
        }
    }

    // Event listener to detect clicks anywhere on the page
    document.addEventListener('click', handleClickOutside);

});


</script>
        <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
</html>